{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">

    <title>Update the Blog</title>
    <style>
        .box{
            font-family: "Red Hat Display", sans-serif;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
        }
    </style>
</head>

<body style="background-color: #3a2621;">

    <div class="m-3">
        <a href="{% url 'home_view' %}" class="btn btn-light"><i class="fa-solid fa-left-long"
                style="color: #000000;"></i></a>
    </div>


    <div class="d-flex p-5 flex-column align-items-center justify-content-center">
        <div style="color:#3a2621; background-color: #e1e1e1;">
            <div class="d-flex justify-content-center mt-2">
                <img src="{% static 'the_blog.png' %}" height="150px">
            </div>
            <h4 class="d-flex justify-content-center mt-2 box" style="color: #28211a;">Update the Blog</h4>
            {% if messages %}
            {% for i in messages %}
            {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{i}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if i.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{i}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}


            {% endfor %}
            {% endif %}
            <form class="px-5 py-3" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <div class="d-flex flex-column justify-content-center mt-3 mb-5">
                    <input type="submit" value="Update" class="btn btn-dark">
            
                </div>
            </form>
        </div>
        
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

</body>

</html>

